<h1>Welcome Back <%= @user.real_name %></h1>


<% @groups.each do |group| %>
    <table>
      <thead>
      <tr>
        <b>Class:</b> <%= group.get_basic_class_info %>
      </tr>
      <tr>
        <b>Group:</b> <%= group.get_team_name %>
      </tr>

      <tr>
        <th>Problem</th>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Completed</th>
      </tr>
      </thead>

      <tbody>
      <% group.get_class_problems.each do |p| %>
          <tr>
            <td><%= p.name %></td>
            <td><%= p.description %></td>
            <td><%= p.formatted_start_time %></td>
            <td><%= p.formatted_end_time %></td>
            <td>
              <% if p.has_to_do_problem(group.id) %>
                  <%= link_to 'Yes', sendassignment_path(p.id, :groupid => group.id) %>
              <% else %>
                  No
              <% end %>
            </td>
          </tr>

      <% end %>
      </tbody>
    </table>

<% end %>