<div class="te_form">

  <%= form_for(@group) do |f| %>
      <% if @group.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@group.errors.count, 'error') %> prohibited this group from being saved:</h2>

            <ul>
              <% @group.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :user_id, 'Student:' %><br>
        <%= f.collection_select(:user_id, User.where(id: @user.id), :id, :real_name, {}, {}) %>
        </div>
      <div class="field">
        <%= f.label :team_name_id, 'Team:' %><br>
        <%= f.collection_select(:team_name_id, TeamName.all, :id, :name, {}, {}) %>
      </div>
      <div class="field">
        <%= f.label(:active_class_id, 'Class') %><br>
        <%= f.collection_select(:active_class_id, ActiveClass.all, :id, :name, {}, {}) %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

</div>
