<div class="te_form">
  <%= form_for(@submission) do |f| %>
      <% if @submission.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

            <ul>
              <% @submission.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <fieldset>
        <legend>Enter Assignment Submission information</legend>
        <div class="sub_head_labels">
          <div class="field">
            <%= f.label :user_id, 'Active User:' %>
            <%= f.label :user_id, @user.real_name, class: 'data_label' %>
            <%= f.hidden_field :user_id, :value => @user.id %>
          </div>
          <div class="field">
            <%= f.label :active_class_id, 'Class Number:' %>
            <%= f.label :active_class_id, @submission.get_active_class.number, class: 'data_label' %>
            <%= f.hidden_field :active_class_id, :value => @submission.get_active_class.id %>
          </div>
          <div class="field">
            <%= f.label :group_id, 'Team:' %>
            <%= f.label :group_id, @submission.get_team_name.name, class: 'data_label' %>
            <%= f.hidden_field :group_id, :value => @submission.get_current_group.id %>
            <%= f.hidden_field :team_name_id, :value => @submission.get_team_name.id %>
          </div>
          <div class="field">
            <%= f.label :assignment_id, 'Assignment:' %>
            <%= f.label :assignment_id, @submission.get_assignment.name, class: 'data_label' %>
            <%= f.hidden_field :assignment_id, :value => @submission.get_assignment.id %>
          </div>
        </div>
        <div class="field">
          <%= f.label :target_user_id, 'Who to eval:' %> <br>
          <%= f.collection_select :target_user_id, @submission.users_that_need_eval(@assignment.id, @user.id), :id, :real_name %>
        </div>
        <div class="field">
          <%= f.label :group_url, 'Url to project' %><br>
          <%= f.text_field :group_url %>
        </div>
        <div class="rating_answers">
          <div class="field">
            <%= f.label :answer1, 'What was the expertise at the start of the project', class: 'rating_head_label' %>
            <%= f.radio_button :answer1, 1 %><%= f.label 'None' %>
            <%= f.radio_button :answer1, 2 %><%= f.label 'Some' %>
            <%= f.radio_button :answer1, 3 %><%= f.label 'Moderate' %>
            <%= f.radio_button :answer1, 4 %><%= f.label 'Good' %>
            <%= f.radio_button :answer1, 5 %><%= f.label 'Expert' %>
          </div>
          <div class="field">
            <%= f.label :answer2, 'How improvement in expertise was acquired?', class: 'rating_head_label'  %>
            <%= f.radio_button :answer2, 1 %><%= f.label 'None' %>
            <%= f.radio_button :answer2, 2 %><%= f.label 'Some' %>
            <%= f.radio_button :answer2, 3 %><%= f.label 'Moderate' %>
            <%= f.radio_button :answer2, 4 %><%= f.label 'Good' %>
            <%= f.radio_button :answer2, 5 %><%= f.label 'Expert' %>
          </div>
          <div class="field">
            <%= f.label :answer3, 'How was the team interaction?', class: 'rating_head_label'  %>
            <%= f.radio_button :answer3, 1 %><%= f.label 'Poor' %>
            <%= f.radio_button :answer3, 2 %><%= f.label 'Lacking' %>
            <%= f.radio_button :answer3, 3 %><%= f.label 'Okay' %>
            <%= f.radio_button :answer3, 4 %><%= f.label 'Great' %>
            <%= f.radio_button :answer3, 5 %><%= f.label 'Exceptional' %>
          </div>
        </div>
        <div class="field">
          <%= f.label :answer4, 'What percentage of project did this member contribute?' %><br>
          <label> Percentage distributed to others: <%= @submission.contribute_tally(@assignment.id, @user.id) %>
            %</label>
          <%=
              if @submission.users_that_need_eval(@assignment.id, @submission.get_current_group.id).size == 1
                f.text_field :answer4, value: @submission.tally_remainder(@assignment.id, @user.id), :readonly => true
              else
                f.text_field :answer4
              end
          %>
        </div>
        <div class="field">
          <%= f.label :comment, 'Comment' %>
          <%= f.text_area :comment %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      </fieldset>
  <% end %>
</div>