<h1>Listing submissions</h1>

<table>
  <thead>
  <tr>
    <th>Active class</th>
    <th>Group</th>
    <th>User</th>
    <th>Assignment</th>
    <th>Complete</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.get_active_class %></td>
        <td><%= submission.get_group_information %></td>
        <td><%= submission.get_user_information %></td>
        <td><%= submission.get_assignment_information %></td>
        <td><%= submission.complete %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
