<h1>Listing team_names</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @team_names.each do |team_name| %>
      <tr>
        <td><%= team_name.name %></td>
        <td><%= link_to 'Show', team_name %></td>
        <td><%= link_to 'Edit', edit_team_name_path(team_name) %></td>
        <td><%= link_to 'Destroy', team_name, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team name', new_team_name_path %>
