<h1>Assignment Summery</h1>

<% problem = Assignment.GetQuery(:assignment_id) %>
<% group_list = Group.where(active_class_id: problem.active_class_id) %>

<% group_list.each do |g| %>
    <table>
      <thead>
      <tr>
        <th>User</th>
        <th>URL</th>
        <th>A1</th>
        <th>A2</th>
        <th>A3</th>
        <th>A4</th>
        <th>A5</th>
        <th>Comment</th>
      </tr>
      </thead>

      <tbody>
      <!-- Still need to finish this part --->
      <% class_groups.each do |group| %>
          <tr>
            <td><%= group.get_user_information %></td>
            <td><%= group.get_team_name %></td>
            <td><%= group.get_class_information_string %></td>
            <td><%= link_to 'Show', group %></td>
            <td><%= link_to 'Edit', edit_group_path(group) %></td>
            <td><%= link_to 'Destroy', group, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>