<h1>Welcome back <%= @user.real_name %></h1>


<% @classes.each do |cc| %>
    <table>
      <thead>
      <tr>
        <b>Class:</b> <%= cc.get_class_info %> <br>
        <%= link_to('Student list', "#group-#{cc.id}-expand", class: 'popup-modal') %> <br>
        <%= link_to('Group summery', "#group-#{cc.id}", class: 'popup-modal') %> <br>
        <%= link_to('Create Assignment', assignment_path(:new, :currentClass => cc.id)) %>
      </tr>

      <tr>
        <th>Problem</th>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Number of completes</th>
        <th>Problem Summery</th>
      </tr>
      </thead>
      <tbody>
      <% cc.get_class_problems.each do |p| %>
          <tr>
            <td><%= p.name %></td>
            <td><%= p.description %></td>
            <td><%= p.formatted_start_time %></td>
            <td><%= p.formatted_end_time %></td>
            <td>0</td>
            <td><%= link_to('Summery', "#problem-#{p.id}", class: 'popup-modal') %></td>
          </tr>
          <div id="problem-<%= p.id %>" class="mfp-hide white-popup">
            <p><a class="popup-modal-dismiss" href="#">Close</a></p>
            <%= render :partial => 'assign_summery',
                       :locals => {:assignment_id => p.id} %>
          </div>
      <% end %>
      </tbody>
    </table>


    <div id="group-<%= cc.id %>" class="mfp-hide white-popup">
      <p><a class="popup-modal-dismiss" href="#">Close</a></p>
      <%= render :partial => 'group_list',
                 :locals => {:classString => cc.get_class_info, :class_groups => cc.get_all_groups_summery} %>
    </div>

    <div id="group-<%= cc.id %>-expand" class="mfp-hide white-popup">
      <p><a class="popup-modal-dismiss" href="#">Close</a></p>
      <%= render :partial => 'group_list_expanded',
                 :locals => {:classString => cc.get_class_info, :class_groups => cc.get_all_groups} %>
    </div>
    <br>
<% end %>